<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>FavTwitLinks</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/links.js') }}"></script>
</head>
<body>
    <ul class="tabs">
        <li class="active">
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Settings</a>
        </li>
        <li>
            <a href="#">Sign Out</a>
        </li>
    </ul>
    <div class="container-fluid">
        <div class="sidebar">
            {% block sidebar %}{% endblock %}
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>